@import 'src/styles/variables';

.header{
  text-align: center;
  font-size: 3em;
  font-family: 'Hack', sans-serif;
}

.root{
  padding: 10px 20px;
}

.redCell {
  background: #e53935;
}

.greenCell {
  background: #43A047;
}

.lessonCell {
  height: 100%;
  width: 100%;
}

.cell {
  width: 3em;
  height: 3em;
  text-align: center;
}

.headerCell {
  padding-bottom: 1em;
}

.filterSelect {
  width: 16em;
}

$formWrapperWidth: 18em;

.formWrapper{
  height: 100%;
  background: $primaryLightColor;
  padding: 1em;
  border-radius: 4px;
  box-sizing: content-box;
  width: $formWrapperWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    margin-bottom: 1em;
  }
}


.table{
  width: calc(100% - #{$formWrapperWidth});
  table-layout: fixed;
}

.contentWrapper {
  display: flex;
}


.fieldWrapper {
  color: $secondaryLightColor;
  width: 100%;
  > p {
    margin-bottom: 0.5em;
    white-space: nowrap;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
}

.submitButton {
  background-color: $secondaryColor; /* Green */
  font-size: 1.25em;
  padding: 1em 0.5em;
  height: 2em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  outline: none;
  width: 14em;
}

.submitButton:hover {
  background-color: $secondaryDarkColor;
}

.checkboxWrapper{
  input {
    width: 1em;
    height: 1em;
  }
}


@media screen and (max-width: 850px) {
  .contentWrapper {
    flex-direction: column;
    align-items: center;
  }
  .table {
    width: 100%;
    margin-top: 3em;
  }
}
